/* Glow Animasyonu */
.glow {
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px var(--primary-color);
  }
  to {
    text-shadow: 0 0 20px var(--primary-color), 0 0 30px var(--primary-color);
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--bg-color);
  border-top: 1px solid #ddd;
}


/* Temalar */
body {
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Aydınlık Tema */
body.light {
  --bg-color: #ffffff;
  --text-color: #000000;
  --primary-color: #007bff;
  --secondary-color: #6c757d;
}

/* Karanlık Tema */
body.dark {
  --bg-color: #1c1c1c;
  --text-color: #f1f1f1;
  --primary-color: #17a2b8;
  --secondary-color: #495057;
}

/* Diğer Temalar */
body.theme1 {
  --bg-color: #f0f8ff;
  --text-color: #2f4f4f;
  --primary-color: #ff6347;
  --secondary-color: #4682b4;
}

body.theme2 {
  --bg-color: #211f29;
  --text-color: #fbf9fa;
  --primary-color: #7fff00;
  --secondary-color: #b31c51;
}

body.theme3 {
  --bg-color: #fffaf0;
  --text-color: #000080;
  --primary-color: #dc143c;
  --secondary-color: #ff4500;
}

body.theme4 {
  --bg-color: #ffd700;
  --text-color: #00008b;
  --primary-color: #800080;
  --secondary-color: #ff69b4;
}

body.theme5 {
  --bg-color: #ffebcd;
  --text-color: #5f9ea0;
  --primary-color: #8b4513;
  --secondary-color: #6b8e23;
}

body.theme6 {
  --bg-color: #b0e0e6;
  --text-color: #4682b4;
  --primary-color: #d2691e;
  --secondary-color: #ff1493;
}

body.theme7 {
  --bg-color: #f5f5f5;
  --text-color: #2c3e50;
  --primary-color: #e74c3c;
  --secondary-color: #3498db;
}

body.theme8 {
  --bg-color: #2ecc71;
  --text-color: #ffffff;
  --primary-color: #1abc9c;
  --secondary-color: #f39c12;
}

body.theme9 {
  --bg-color: #fff0f5;
  --text-color: #800000;
  --primary-color: #ff6347;
  --secondary-color: #ffff00;
}

body.theme10 {
  --bg-color: #f8f8ff;
  --text-color: #000000;
  --primary-color: #0000ff;
  --secondary-color: #ff1493;
}


/* Sayfa Ortası */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  background-color: var(--bg-color);
}

/* Ana İçerik */
.main-content {
  text-align: center;
  margin-bottom: 2rem;
}

.countdown {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.details {
  font-size: 1.2rem;
  color: var(--primary-color);
}

/* Modal ve Ayarlar */
.settings-modal, .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
}

.settings-content, .modal {
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

button {
  margin-top: 10px;
}

input {
  margin-top: 5px;
}

.settings-bar {
  margin-top: 1rem;
}

/* Hata Mesajı */
.error-popup {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f44336;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 9999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none;
}

.theme-menu ul {
  list-style-type: none;
  padding: 0;
}

.theme-menu li {
  margin: 10px 0;
}

.theme-option {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.theme-select {
  position: relative;
  display: flex;
  background-color: var(--secondary-color);
  width: 20em;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
}

.theme-select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: .25s all ease;
  pointer-events: none;
}

.theme-select:hover::after {
  color: #f39c12;
}
.selectWrapper{
  display: none;
}
/* From Uiverse.io by gharsh11032000 */ 
.button {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  margin-left: 1%;
  margin-right: 1%;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: var(--primary-color);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.button:active {
  scale: 1;
}


/* From Uiverse.io by WhiteNervosa */ 
.textInputWrapper {
  position: relative;
  width: 180px;
  margin: 12px 5px;
  --accent-color: var(--primary-color);
}

.textInputWrapper:before {
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.textInputWrapper:before,
.textInputWrapper:after {
  content: "";
  left: 0;
  right: 0;
  position: absolute;
  pointer-events: none;
  bottom: -1px;
  z-index: 4;
  width: 100%;
}

.textInputWrapper:focus-within:before {
  border-bottom: 1px solid var(--accent-color);
}

.textInputWrapper:before {
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.textInputWrapper:focus-within:before {
  border-bottom: 1px solid var(--accent-color);
  transform: scaleX(1);
}

.textInputWrapper:focus-within:after {
  border-bottom: 2px solid var(--accent-color);
  transform: scaleX(1);
}

.textInputWrapper:after {
  content: "";
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  will-change: transform;
  border-bottom: 2px solid var(--accent-color);
  border-bottom-color: var(--accent-color);
}

.textInput::placeholder {
  transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  opacity: 1;
  user-select: none;
  color: rgba(255, 255, 255, 0.582);
}

.textInputWrapper .textInput {
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 2px 5px rgb(35 35 35 / 30%);
  max-height: 36px;
  background-color: #252525;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 200ms;
  transition-property: background-color;
  color: #e8e8e8;
  font-size: 14px;
  font-weight: 500;
  padding: 12px;
  width: 100%;
  border-left: none;
  border-bottom: none;
  border-right: none;
}

.textInputWrapper .textInput:focus,
.textInputWrapper .textInput:active {
  outline: none;
}

.textInputWrapper:focus-within .textInput,
.textInputWrapper .textInput:focus,
.textInputWrapper .textInput:active {
  background-color: #353535;
}

.textInputWrapper:focus-within .textInput::placeholder {
  opacity: 0;
}
/* From Uiverse.io by pandey_saurav_ */ 
.dateInput {
  border: 2px solid transparent;
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  color:#F3F3F3;
  background-color: #353535;
  border-radius: 10px;
  transition: all 0.5s;
}

.dateInput:hover,
.dateInput:focus {
  border: 2px solid var(--primary-color);
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: #222222;
}
